.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0;
  margin: 0 2rem;
}

.navbar-logo {
  display: block;
  justify-content: start;
  align-items: flex-start;
  margin-left: 20px;
}

.navbar-logo img {
  height: 80px;
  width: auto;
}

.navbar-links {
  list-style: none;
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 100px;
}
.navbar-links a {
  text-decoration: none;
  color: var(--black);
}

.navbar-links li {
  margin: 0 1rem;
  cursor: pointer;
}

.navbar-links li:hover {
  color: var(--yellow);
  border-bottom: 2px solid var(--yellow);
  padding-bottom: 2px;
}

.navbar-smallscreen {
  display: none;
  position: relative;
  top: 0px;
  right: 50px;
}

.navbar-smallscreen_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: white;
  opacity: 1;
  transition: 0.5s ease;
  flex-direction: column;
  z-index: 5;
}

.navbar-smallscreen_overlay .overlay__close {
  font-size: 27px;
  color: black;
  cursor: pointer;
  position: absolute;
  top: 50px;
  right: 50px;
}

.navbar-smallscreen-links {
  list-style: none;
}

.navbar-smallscreen-links li {
  margin: 2rem;
  cursor: pointer;
  color: var(--color-golden);
  font-size: 2rem;
  text-align: center;
  list-style: none;
}

.navbar-smallscreen-links a {
  text-decoration: none;
  color: black;
}

.navbar-smallscreen-links a :hover {
  color: var(--yellow);
}

@media screen and (max-width: 1150px) {
  .navbar-links {
    display: none;
  }

  .navbar-smallscreen {
    display: flex;
  }
}

@media screen and (max-width: 650px) {
  .navbar {
    padding: 1rem;
  }

  .navbar-logo {
    justify-content: center;
    align-items: center;
   
  }
}
@media screen and (max-width:450px) {
  .navbar-logo img {
    height: 60px;
    width: auto;
    
  }
  
}
